{{#if shortURL}}
<div class="result">
  <h3>Success! Please use this link:</h3>
  <p id="generatedURL">localhost:3000/{{shortURL}}</p>
</div>
<button class="copy" onclick="copy()">Copy</button>
<button class="home" onclick="home()">Back to Home Page</button>

<script>
  function copy() {
    const URL = document.querySelector("#generatedURL")
    navigator.clipboard.writeText(URL.innerText)
      .then(() => alert('copied'))
      .catch(error => console.log(error))
  }

  function home() {
    window.location.href = "/"
  }
</script>

{{else}}
<form action="/" method="POST">
  <div class="container">
    <input type="url" name="url" placeholder="Input URL here" required />
    <button class="shorten" type="submit">Shorten</button>
  </div>
</form>
{{/if}}